<br/>
<div class="container mat-elevation-z8">
    <div fxFlex style="align: right;">
        <button mat-button (click)="openEditDialog()">
            <i class="material-icons">add_circle_outline</i>
          Add New
        </button>
    </div>
    <cdk-table #table [dataSource]="dataSource" class="table" matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- ID Column -->
      <ng-container cdkColumnDef="id">
          <cdk-header-cell *cdkHeaderCellDef class="header-cell number" mat-sort-header>Id</cdk-header-cell>
          <cdk-cell *cdkCellDef="let row" class="cell number">
            <a >{{row.id}}</a>   
          </cdk-cell>
        </ng-container>      

      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
        <cdk-header-cell *cdkHeaderCellDef class="header-cell" mat-sort-header> Name </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="cell">{{row.name}} </cdk-cell>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container cdkColumnDef="description">
        <cdk-header-cell *cdkHeaderCellDef class="header-cell"> Description </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="cell">{{row.description}} </cdk-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="isActive">
          <cdk-header-cell *cdkHeaderCellDef class="header-cell">Is Active</cdk-header-cell>
          <cdk-cell *cdkCellDef="let row" class="cell"
                    [style.color]="row.isActive">{{row.isActive}}</cdk-cell>
      </ng-container>

      <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="header-row"></cdk-header-row>
      <cdk-row *cdkRowDef="let row; columns: displayedColumns;" class="row" (click)="openEditDialog(row.id)" ></cdk-row>
    </cdk-table>

    <mat-paginator #paginator
      [length]="dataSource.data().length"
      [pageIndex]="0"
      [pageSize]="15"
      [pageSizeOptions]="[5, 10, 15, 25]">
    </mat-paginator>

  </div>