@import '../../../less/_variables';

/* Structure */
.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
  
  /*
   * Styles to make the demo's cdk-table match the material design spec
   * https://material.io/guidelines/components/data-tables.html
   */
.table {
  flex: 1 1 auto;
  overflow: auto;
}
  
.header-row, .row {
  display: flex;
  border-bottom: 1px solid @cdk-row-border-color;
  align-items: center;
  height: 32px;
  padding: 0 8px;
}
  
.cell, .header-cell {
  flex: 1;
}

.highlight{
  background: #42A948; /* green */
}

.imgFormat {
  height: 75px;
  width: 250px;
  flex: 1;
}

.number {
    text-align: center;
}
  
.header-cell {
  font-size: 12px;
  font-weight: bold;
  color: @cdk-header-cell-color;
}
  
.cell {
  font-size: 13px;
  color: @cdk-cell-color;
}