<div class="signin-content">
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>Please login to continue</p>
      <mat-input-container class="full-width-input">
        <input matInput placeholder="Email Id" 
               formControlName="email" required>
        <mat-error *ngIf="isFieldInvalid('email')">
          Please enter your user name
        </mat-error>
      </mat-input-container>
      <mat-input-container class="full-width-input">
        <input matInput type="password" placeholder="Password" 
               formControlName="password" required>
        <mat-error *ngIf="isFieldInvalid('email')">
          Please enter your password
        </mat-error>
      </mat-input-container>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
    <p><small>Note: Enter any text in both of the fields above to login</small></p>
  </mat-card-content>
</mat-card>
</div>