
<mat-card class="card">

  <div class="panel panel-primary">
      <div class="panel-heading">
        Sign Up
      </div>
      <form novalidate autocomplete="off"
          (ngSubmit)="onSave()"
          [formGroup]="signupForm">              
          <mat-card-content>
              <mat-form-field>
                  <input matInput id="firstName" formControlName="firstName" placeholder="First Name">
              </mat-form-field>   

              <mat-form-field>
                  <input matInput id="lastName" formControlName="lastName" placeholder="Last Name">
              </mat-form-field>  
       
              <div formGroupName="emailGroup">
                  <mat-form-field>
                      <input matInput id="email" formControlName="email" placeholder="Email">
                  </mat-form-field>  
                  <span class="help-block" *ngIf="emailMessage">
                      {{ emailMessage }}
                  </span>
                  <mat-form-field>
                      <input matInput id="confirmEmail" formControlName="confirmEmail" placeholder="Confirm Email">
                  </mat-form-field>                                              
              </div>   

              <mat-form-field>
                  <input matInput id="phone" formControlName="phone" placeholder="Phone">
              </mat-form-field>  

              <mat-form-field>
                  <input matInput id="rating" formControlName="rating" placeholder="Rating">              
              </mat-form-field>                 
              <span class="help-block" *ngIf="(signupForm.get('rating').touched 
              || signupForm.get('rating').dirty) && 
              signupForm.get('rating').errors">
                  <span *ngIf="signupForm.get('rating').errors.rangeCheck">
                  Please rate your experience from 1 to 5.
                  </span>
              </span> 
              <div>
                <label>Notification Type:</label>
                <mat-radio-group  class="radio-group" formControlName="notification">
                    <mat-radio-button class="radio-button" value="text">Text</mat-radio-button>
                    <mat-radio-button class="radio-button" value="email">Email</mat-radio-button>
                </mat-radio-group>                
              </div>
             
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button
                type="submit"
                [disabled]="!signupForm.valid">Save</button>
            </mat-card-actions>            
        </form>
  </div>   
</mat-card>