<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" class="app-sidenav">
      <mat-toolbar color="primary">
          <span class="toolbar-filler"></span>
          <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
            <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
          </button>
      </mat-toolbar>
  
      <mat-nav-list>
          <a mat-list-item class="sidenav-link" [routerLink]="['/comp1']" (click)="sidenav.toggle()">
            <mat-icon md-list-icon>account_balance</mat-icon>
            <span class="title" md-line>comp1</span>
            <span mat-line class="secondary">test</span>
          </a>
          <a mat-list-item class="sidenav-link" [routerLink]="['/comp2']" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>android</mat-icon>
            <span class="title" mat-line>comp2</span>
            <span mat-line class="secondary">test</span>
          </a>
          <a mat-list-item class="sidenav-link" [routerLink]="['/fullscreen1']" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon><i class="material-icons">panorama_wide_angle</i></mat-icon>
            <span class="title" mat-line>fullscreen1</span>
            <span mat-line class="secondary">fullscreen1</span>
          </a>
      </mat-nav-list>
  </mat-sidenav>
