  <mat-list-item>
    <a class="list-group-item clearfix" style="cursor: pointer"
    [routerLink]="[product.id]"
    routerLinkActive="active">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{product.name}}</h4>
        <p class="list-group-item-text">{{product.description}}</p>
      </div>
      <span class="pull-right">
        <img [src]="product.imagePath" alt="" class="img-responsive" style="max-height: 50px;"/>
      </span>
    </a>   
  </mat-list-item>