<div>
    <!-- Search Users -->
    <mat-input-container>
        <input matInput placeholder="Search users" #input>
    </mat-input-container>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
 
    <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear> 
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.firstName}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
        </ng-container>        

        <ng-container matColumnDef="addressType">
                <mat-header-cell *matHeaderCellDef>Address Type</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.addressType}}</mat-cell>
        </ng-container>        
        
        <ng-container matColumnDef="street1">
                <mat-header-cell *matHeaderCellDef>Street 1</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.street1}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="street2">
                <mat-header-cell *matHeaderCellDef>Street 2</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.street2}}</mat-cell>
        </ng-container>        
        
        <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.city}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.state}}</mat-cell>
        </ng-container>        

        <ng-container matColumnDef="zip">
                <mat-header-cell *matHeaderCellDef>Zip</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.zip}}</mat-cell>
        </ng-container>        

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        
    </mat-table>    

    <mat-paginator [length]="50" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>    
</div>
