<mat-card class="card">
    
      <div class="panel panel-primary">
          <div class="panel-heading">
            User Profile
          </div>
          <form novalidate autocomplete="off"
              (ngSubmit)="onSave()"
              [formGroup]="profileForm">   
              
              <mat-tab-group>
                  <mat-tab label="Personal Details">
                      <mat-card-content>
                          <mat-form-field>
                              <input matInput id="firstName" formControlName="firstName" placeholder="First Name">
                          </mat-form-field>   
            
                          <mat-form-field>
                              <input matInput id="lastName" formControlName="lastName" placeholder="Last Name">
                          </mat-form-field>  
                   
                          <div formGroupName="emailGroup">
                              <mat-form-field>
                                  <input matInput id="email" formControlName="email" placeholder="Email">
                              </mat-form-field>  
                              <span class="help-block" *ngIf="emailMessage">
                                  {{ emailMessage }}
                              </span>
                              <mat-form-field>
                                  <input matInput id="confirmEmail" formControlName="confirmEmail" placeholder="Confirm Email">
                              </mat-form-field>                                              
                          </div>   
            
                          <mat-form-field>
                              <input matInput id="phone" formControlName="phone" placeholder="Phone">
                          </mat-form-field>  
            
                          <mat-form-field>
                              <input matInput id="rating" formControlName="rating" placeholder="Rating">              
                          </mat-form-field>                 
                          <span class="help-block" *ngIf="(profileForm.get('rating').touched 
                          || profileForm.get('rating').dirty) && 
                          profileForm.get('rating').errors">
                              <span *ngIf="profileForm.get('rating').errors.rangeCheck">
                              Please rate your experience from 1 to 5.
                              </span>
                          </span> 
                          <div>
                            <label>Notification Type:</label>
                            <mat-radio-group  class="radio-group" formControlName="notification">
                                <mat-radio-button class="radio-button" value="text">Text</mat-radio-button>
                                <mat-radio-button class="radio-button" value="email">Email</mat-radio-button>
                            </mat-radio-group>                
                          </div>
                         
                        </mat-card-content>
                  </mat-tab>
                  <mat-tab label="Address Information">
                      <button mat-raised-button (click)="addAddress()">Add Address</button>
                      <mat-card-content>
                          <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i = index;">
                              <div [formGroupName]="i">
                                  <div class="row">
                                      <label attr.for="{{'addressType' + i}}">Address Type:</label>
                                      <mat-radio-group id="{{'addressType' + i}}" class="radio-group" formControlName="addressType">
                                          <mat-radio-button class="radio-button" value="home">Home</mat-radio-button>
                                          <mat-radio-button class="radio-button" value="work">Work</mat-radio-button>
                                          <mat-radio-button class="radio-button" value="other">Other</mat-radio-button>
                                      </mat-radio-group>                
                                    </div>
                                    <div class="row">
                                        <mat-form-field>
                                            <input matInput id="{{'street1' + i}}" formControlName="street1" placeholder="Street 1">
                                        </mat-form-field>  
                                        <mat-form-field>
                                            <input matInput id="{{'street2' + i}}" formControlName="street2" placeholder="Street 2">
                                        </mat-form-field>                                 
                                    </div>
        
                                    <div class="row">
                                        <mat-form-field>
                                            <input matInput id="{{'city' + i}}" formControlName="city" placeholder="City">
                                        </mat-form-field> 
                                        <mat-form-field>
                                            <mat-select id="{{'state' + i}}"  formControlName="state" placeholder="State" required>
                                                <mat-option [value]="" selected hidden>Select a State...</mat-option>
                                                <mat-option value="AL">Alabama</mat-option>
                                                <mat-option value="AK">Alaska</mat-option>
                                                <mat-option value="AZ">Arizona</mat-option>
                                                <mat-option value="AR">Arkansas</mat-option>
                                                <mat-option value="CA">California</mat-option>
                                                <mat-option value="CO">Colorado</mat-option>
                                                <mat-option value="WI">Wisconsin</mat-option>
                                                <mat-option value="WY">Wyoming</mat-option>                                    
                                            </mat-select>                   
                                        </mat-form-field>                                  
                                    </div>
        
                                    <div class="row">
                                        <mat-form-field>
                                            <input matInput id="{{'zip' + i}}" formControlName="zip" placeholder="Zip Code">
                                        </mat-form-field>                                   
                                    </div>
                              </div>
                          </div>
                        
                      </mat-card-content>
                  </mat-tab>
                </mat-tab-group>




                <mat-card-actions>
                    <button mat-raised-button
                    type="submit"
                    [disabled]="!profileForm.valid">Save</button>
                    <button mat-raised-button (click)="onCancel()">Cancel</button>
                </mat-card-actions>            
            </form>
      </div>   
      <br>Value: {{ profileForm.value | json }}
    </mat-card>

