/* You can add global styles to this file, and also import other style files */
@import './_variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* fallback - Content of '~https://fonts.googleapis.com/icon?family=Material+Icons'*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v33/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

body, html, app-root {
  height: 100%;
  color: @font-color;
}

app-root {
  display: flex;
  flex-flow: column;
}

.spacer {
  flex: 1 1 auto;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.colorNested, .colored, .coloredContainerX {
    height:100%;
}

.divborder {
    border: 2px solid rgb(221, 0, 11);  
    -moz-transition: border linear 1s;
    -o-transition: border linear 1s;
    -webkit-transition: border linear 1s;
    transition: border linear 1s;
}

.divbordergreen {
    border: 2px solid rgb(0, 221, 18);    
    -moz-transition: border linear 1s;
    -o-transition: border linear 1s;
    -webkit-transition: border linear 1s;
    transition: border linear 1s;
}

.divborderblack {
    border: 2px solid black;
    -moz-transition: border linear 1s;
    -o-transition: border linear 1s;
    -webkit-transition: border linear 1s;
    transition: border linear 1s;
}

.card {
    width: 600px;
}
  
.header-image {
    background-size: cover;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}
  
.radio-button {
    margin: 5px;
}

mat-card {
    max-width: 1000px;
    margin: 2em auto;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

.signin-content {
    padding: 60px 1rem;    
}

.full-width-input {
    width: 100%;
}

  /* Spinner */
.spinner {
    font-size:300%;
    position:absolute;
    top: 50%;
    left: 50%;
    z-index:10
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
 
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

li {
  font-size: large;
}

div.panel-heading {
 font-size: x-large; 
}
