<span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" class="app-sidenav">
      <mat-toolbar color="primary">
          <span class="toolbar-filler">Main Menu</span>
          <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
            <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
          </button>
      </mat-toolbar>
  
      <mat-nav-list>
          <a mat-list-item class="sidenav-link" [routerLink]="['/dashboard']" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <span class="title" mat-line>Dashboard</span>
            <span mat-line class="secondary"></span>
          </a>        
          <a mat-list-item class="sidenav-link" [routerLink]="['/products']" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>library_books</mat-icon>
            <span class="title" mat-line>Proucts</span>
            <span mat-line class="secondary"></span>
          </a>
          <a mat-list-item class="sidenav-link" [routerLink]="['/profile']" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>person</mat-icon>
            <span class="title" mat-line>Profile</span>
            <span mat-line class="secondary"></span>
          </a>
          <a mat-list-item class="sidenav-link" [routerLink]="['/signup']" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <span class="title" mat-line>Signup</span>
            <span mat-line class="secondary"></span>
          </a>     
          <a mat-list-item class="sidenav-link" [routerLink]="[{outlets: { popup: 'alerts'}}]" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>info</mat-icon>
            <span class="title" mat-line>Information</span>
            <span mat-line class="secondary"></span>
          </a>                 
          <a mat-list-item class="sidenav-link" [routerLink]="['/fullscreen1']" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon><i class="material-icons">panorama_wide_angle</i></mat-icon>
            <span class="title" mat-line>Fullscreen</span>
            <span mat-line class="secondary"></span>
          </a>
      </mat-nav-list>
  </mat-sidenav>

  <div fxLayout="column" fxLayoutGap="2px">
    <div fxFlex="100%">
        <app-header [SideNavBar]="sidenav"></app-header>
    </div>
    <div fxFlex="100%">
        <div fxLayout="column">
            <router-outlet></router-outlet>
        </div>
        <div fxLayout="column">
          <router-outlet name="popup"></router-outlet>
        </div>      
    </div>     
  </div>



