<mat-toolbar id="appToolbar" color="primary">
    <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
                    <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
            </button>        
            <span routerLinkActive="selected" routerLink="/" class="navbar-brand">Sample App [Env: {{environmentName}}] </span>
            <span class="spacer"></span>
            <button mat-button (click)="onHomeClick()">Home</button>
            <button mat-button (click)="onAboutDialog()">About</button>
            <button mat-button routerLinkActive="active" style="cursor: pointer" *ngIf="(isLoggedIn$ | async) == false"><a routerLink="/login">Login</a></button>
            <button md-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
            </button>
    </mat-toolbar-row>                
</mat-toolbar>
