<h2 mat-dialog-title><b>Sample Application</b></h2>
<mat-dialog-content>
  Product: Sample Application
  Version: 1.0.0-Pre.001
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>