.card {
  width: 400px;
}
  
.header-image {
  background-size: cover;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}
  
.radio-button {
  margin: 5px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: contain;
}
