
<mat-card class="card">
    <mat-card-header>
        <mat-card-title><h1>Products Form</h1></mat-card-title>
      </mat-card-header>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">      
      <mat-card-content>
              <mat-form-field>
                <input matInput id="name" formControlName="name" placeholder="Product Name" required>
              </mat-form-field>
      
              <mat-form-field>
                  <input matInput id="description" formControlName="description" placeholder="Description" required>
              </mat-form-field>
      
              <mat-form-field>
                  <input matInput id="imagePath" formControlName="imagePath" placeholder="Image URL" #imagePath required>
              </mat-form-field>
      
              <mat-form-field>
                  <mat-select id="categoryId"  formControlName="categoryId" placeholder="Category" required>
                      <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</mat-option>
                  </mat-select>                   
              </mat-form-field>
              <div class="row" style="padding:15px;">     
                <label style="padding:3px;">Product Flavor:</label>                               
                  <mat-radio-group  class="radio-group" formControlName="flavourId">
                      <mat-radio-button class="radio-button" value="1">Ultimate</mat-radio-button>
                      <mat-radio-button class="radio-button" value="2">Premium</mat-radio-button>
                      <mat-radio-button class="radio-button" value="3">Basic</mat-radio-button>
                  </mat-radio-group>
              </div>

      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button
          type="submit"
          [disabled]="!productForm.valid || !validateFormControls()">Save</button>
          
          <button mat-raised-button 
          type="button"
          (click)="onClose()">Close</button>  
      </mat-card-actions>
    </form>
</mat-card>