<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{selectedProduct.name}}</mat-card-title>
      <mat-card-subtitle>{{selectedProduct.description}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{selectedProduct.imagePath}}" alt="Photo of a Shiba Inu" height="250" width="100">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <div fxFlex style="align: right;">
            <button mat-button (click)="onClose()">Close</button>
        </div>
    </mat-card-actions>
  </mat-card>
