<div fxLayout="row">
      <div fxFlex="50%">
            <app-productlist></app-productlist>
      </div>
      <div fxLayout="row">                 
            <div fxFlex="50%">
                  <router-outlet></router-outlet>  
            </div>
      </div>      
</div>





